@import 'base.scss';

$image-width: 1304px / 3;
$image-height: 1760px / 3;

.component {
  margin-bottom: 6rem;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: stretch;
}

.imageWrap {
  flex: 1;
  flex-basis: $image-height;
  height: $image-height;
  min-width: $image-width;
  max-width:200px;
  margin: auto;
}

.image {
  width: 100%;
  height: 100%;
}

.imageDescription {
  text-align: center;
  margin-top: -20px;
  font-size: 16px;
  color: $color-subtext;
}
