@mixin retina-background($path, $ext: 'png', $w: auto, $h: auto, $pos: left top, $repeat: no-repeat) {
  $at1x_path: '#{$path}.#{$ext}';
  $at2x_path: '#{$path}@2x.#{$ext}';

  background-image: url('#{$at1x_path}');
  background-size: $w $h;
  background-position: $pos;
  background-repeat: $repeat;

  @include media('retina2x') {
    background-image: url('#{$at2x_path}');
  }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin desktop-only () {
  @include media('>medium') {
    @content;
  }
}

@mixin small-screen-only () {
  @include media('<=medium') {
    @content;
  }
}

@mixin input-style () {
  display: block;
  width: 100%;
  padding: 15px;
  color: $color-text;
  background-color: white;
  background-clip: padding-box;
  font-family: inherit;
  border: solid 1px $color-border;
  font-weight: 400;
  transition: border-color 120ms;

  &:active,
  &:focus {
    outline: none;
    border-color: $color-primary;
  }

  @include placeholder () {
    opacity: 1;
    color: $color-placeholder;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}

@mixin cursor-move () {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
