@import 'base.scss';

.component {
  overflow: hidden;
  text-align: center;
  color: $color-subtext;
  margin: 20px 0;
  font-size: 12px;

  &.hasLabel {
    &:before {
      right: 0.5em;
      margin-left: -50%;
    }

    &:after {
      left: 0.5em;
      margin-right: -50%;
    }
  }

  &:before,
  &:after {
    background-color: $color-border;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
}
