@import 'base.scss';

$border-radius: 5px;

:global {
  .ReactModal {
    &__Overlay {
      opacity: 0;
      transition: opacity 140ms linear;
      will-change: opacity;

      :local(.content) {
        will-change: transform;
        transform: scale(0.95);
      }

      &--after-open {
        opacity: 1;

        :local(.content) {
          transform: scale(1);
        }
      }

      &--before-close {
        opacity: 0;

        :local(.content) {
          transform: scale(0.95);
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: 9000;
}

.component {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  outline: none;
  display: flex;

  &.size--large {
    .content {
      @include desktop-only () {
        width: 800px;
      }
    }
  }
}

.content {
  transition: transform .3s ease-out;
  transform: translateZ(0);
  margin: auto;

  @include desktop-only () {
    width: 800px;
  }
}

.inner {
  margin: 10px;
  background: white;
  border-radius: $border-radius;
}

.header {
  display: flex;
  color: white;
  background-color: $color-text;
  overflow: hidden;
  white-space: nowrap;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;

  .headerText {
    border-top-left-radius: $border-radius;
    flex: auto;
    padding: 1em;
    font-weight: 500;
    line-height: 1.5;
  }

  .closeIcon {
    background-color: $color-text;
    flex: none;
    padding: 1em;
    border: none;
    line-height: 1.5;
    outline: 0;
    cursor: pointer;
    border-top-right-radius: $border-radius;
    display: flex;
  }
}

.closeIconInner {
  $size: 12px;
  width: $size;
  height: $size;
  color: white;
  display: block;
}

.body {
  padding: 1em;
  background-color: white;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.footer {
  padding: 1em;
  background-color: white;
  border-top: 1px solid $color-border;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
